<form method="POST" action="/medapp/createuser">

  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" class="form-control" name="patientName" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Apellido</label>
    <input type="text" class="form-control" name="patientLastname" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Documento</label>
    <input type="number" class="form-control" name="patientDocId" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Fecha de nacimiento DDMMAAAA</label>
    <input type="number" class="form-control" name="patientBornDate" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>


  <div class="form-group">
    <label for="exampleInputEmail1">Ciudad</label>
    <input type="text" class="form-control" name="patientCity" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Barrio</label>
    <input type="text" class="form-control" name="patientDistrict" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Celular</label>
    <input type="number" class="form-control" name="patientPhone"  id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>